//Susy Setup --------------------
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

@include border-box-sizing;

$small: 30em;
$medium: 47em;
$large: 75em;

//layout
.layout {
  @include container;
  padding: 3%;

  .primary {
    @include susy-breakpoint($medium) {

    }
  }

  .secondary {
    margin-top: .2em;
  }
}
